.invoiceConfig .slds-card__header.slds-grid {
    border-bottom: 3px solid #00A1E0;
    box-shadow: 3px 0px 3px #00a1e0;
    padding: 18px;
}
.slds-section-title_divider.slds-m-top_medium.slds-m-bottom_medium{
    font-size: .75rem;
    line-height: 1.25;
    color: black;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    padding: 0.5rem 1rem;
    background: var(--slds-g-color-neutral-base-95, rgb(243, 243, 243));
}
.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.column{
    float: left;
    padding: 10px;
}  

/* Create three equal columns that floats next to each other */
.column-left {
  float: left;
  padding: 10px;
  width: 30%;
}

.column-right {
    float: left;
    padding: 10px;
    width: 70%
}

.row{
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.progress-bar {
  list-style: none;
  /*color:#fff;*/
  margin-top: 30px;
  font-size: 13px;
  font-weight: 700;
  counter-reset: container 0;
}
.progress-bar li {
  position: relative;
  margin-left: 40px;
  margin-top: 50px;
  counter-increment: container 1;
  color: #c9c7c5;
}
.progress-bar li::before {
    content: counter(container);
    text-align: center;
    position: absolute;
    height: 25px;
    width: 25px;
    border: 2px solid #c9c7c5;
    border-radius: 50%;
    left: -40px;
    top: -5px;
    z-index: 10;
    background-color: #ffffff;
}

.progress-bar li::after {
  content: "";
  position: absolute;
  height: 90px;
  width: 2px;
  background-color: #949aa3;
  z-index: 1;
  left: -27px;
  top: -70px;
}

.progress-bar li.active::after {
  background-color: #2e844a;
}

.progress-bar li:first-child:after {
  display: none;
}

/*.progress-bar li:last-child:after{*/
/*  display:none;  */
/*}*/
.progress-bar li.active::before {
  color: #2e844a;
  border: 2px solid #2e844a;
  /* content: "\2713"; */
}
.progress-bar li.active {
  color: #2e844a;
}

.stepTitle{
    font-size: x-large;
}





.table-resp {
  border-collapse: collapse;
  margin-left: 1em;
}
.table-resp caption {
  text-align: left;
  width: 95vw;
}

@media (min-width: 768px) {
  .table-resp {
    margin-top: 3em;
    position: relative;
  }
  .table-resp caption {
    position: absolute;
    top: -2em;
    margin-bottom: 0.75em;
  }
  .table-resp thead {
    text-align: left;
    background-color: #333;
    color: white;
  }
  .table-resp td, .table-resp th {
    padding: 0.25em 0.5em;
  }
  .table-resp td:nth-child(2), .table-resp th:nth-child(2) {
    border-left: 3px solid #fff;
  }
}
@media (max-width: 767px) {
  thead {
    display: none;
  }

  .table-resp {
    display: block;
    margin-top: 1em;
  }

  td {
    display: block;
  }

  td:first-child {
    font-weight: 700;
    margin-top: 0.75em;
    margin-bottom: 0;
  }

  td:nth-child(2) {
    margin-top: 0;
  }
}
/* Uninteresting stuff below here */
html {
  font: 18px "Iowan Old Style", serif;
}